<form name="username" action="/login">
    <input type="text" placeholder="username">
    <button type ="submit">submit</button>
</form>


<!-- method="POST" placeholder="username" action="/login" style="width: 300px" name='username' type="text" -->