<!-- <%= JSON.stringify(locals) %> -->
<% if (!locals.users) { %>

    <a href='/urls/register'>Register Now</a>  
    <a href='/urls/login'>Login Now</a>  
  
    <% }else { %>

    <h5><p> Hello, <%= locals.users['email'] %> </p> </h5>
        <form method='POST' action='/logout'>
            <input type='submit' value='Logout'>
        </form>

    <% }; %>