<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>

<body>
    <%- include partials/_header.ejs %>

    <h1>This is Register Page</h1>

    <form name='username' action='/urls/register' Method='POST'>
        <input type='text' placeholder='email' name='username'>
        <form name='password' action='/urls/register' Method='POST'>
            <input type='password' placeholder='password' name='password'>
            <button type ='submit'>Register</button>
    </form>

        
</body>
</html>


