<!DOCTYPE html>
<html lang='en'>
<head>
  <title>TinyApp</title>
</head>

<body>
    <%- include partials/_header.ejs %>

  
    <h1>My Tiny App</h1>
    <% if (!locals.users) { %>

      <h2>Please login or register to use!</h2>
    
      <% }else { %>
        <a href='/urls/new'>Add New URL</a> 
        <a href='/urls/show'>View URL's</a> 
      <% }; %>
    
<!-- 
       <a href='/urls/new'>Add New URL</a>  
       <a href='/urls/register'>Register Now</a>   -->
        
       
</body>
</html>


