<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
        <h1>Here are URLS</h1>
        <ul>
       <% for (let key in urls/:id) { %>
        <li><%= shortURL %> </li>
       <% } %>
       </ul>

       
</body>
</html>
