<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<%- include partials/_header.ejs %>
<body>
        <h1>Here are URLS</h1>
        <%= longURL %> : <%= shortURL %>
</body>
</html>
